@model IEnumerable<TheWorld.NET.Models.Trip>
@{
    // in this area, this the variable is the current page
    ViewBag.Title = "Home Page";
}

<h2>The World</h2>
<p>This will be a fun site soon!</p>

<div class="row">
    <div>
        <h1>Welcome to The World</h1>
        <p>This app will allow you to plan for world trips</p>
        <a asp-controller="App" asp-action="Trips" class="btn btn-lg btn-success">View My Trips</a>
    </div>
</div>
